

 {% macro button() %}
   <button class="flex flex-1 items-center mt-4 py-2 text-base font-semibold justify-center border border-dark-red bg-dark-red2 text-white rounded-full text-sm">
        <span class="px-1.5">MORE </span>
   </button>
{% endmacro %}

